echo __pycache__/ > .gitignore
echo *.pkl >> .gitignore
echo prediction_history.csv >> .gitignore
.anaconda/
       .android/
       .cache/
       .conda/
       .condarc
       .continuum/
       .gitconfig
       .ipynb_checkpoints/
       .ipython/
       .jupyter/
       .keras/
       .lesshst
       .matplotlib/
       .node_repl_history
       .npmrc
       .php_history
       .streamlit/
       .viminfo
       .virtual_documents/
       .vscode/
       0.6.0
       AppData/
       Boua.ipynb
       CrossDevice/
       Desktop/
       Documents/
       Donnees_Agro_Completes.xlsx
       Dropbox/
       Favorites/
       IntelGraphicsProfiles/
       Links/
       Local Sites/
       Mohamed.ipynb
       Music/
       NTUSER.DAT
       NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf
       NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms
       NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms
       OneDrive/
       Pictures/
       SamaSuguBackend/
       "Samak\303\251.ipynb"
       Saved Games/
       Searches/
       Untitled.ipynb
       Untitled1.ipynb
       Untitled10.ipynb
       Untitled11.ipynb
       Untitled12.ipynb
       Untitled13.ipynb
       Untitled2.ipynb
       Untitled3.ipynb
       Untitled4.ipynb
       Untitled5.ipynb
       Untitled6.ipynb
       Untitled7.ipynb
       Untitled8.ipynb
       Untitled9.ipynb
       Videos/
       anaconda3/
       anaconda_projects/
       donnees_agricoles.xlsx
       donnees_agro_mini_projet.xlsx
       donnees_agronomiques.xlsx
       donnees_agronomiques_2.xlsx
       donnees_saison_agricole_v2.xlsx
       "fertilisation_temp\303\251rature.csv"
       lire_donnees.py
       ntuser.dat.LOG1
       ntuser.dat.LOG2
       Lib/email/__pycache__/_header_value_parser.cpython-310.pyc
       Lib/email/__pycache__/contentmanager.cpython-310.pyc
       Lib/email/__pycache__/headerregistry.cpython-310.pyc
       Lib/email/__pycache__/policy.cpython-310.pyc