streamlit==1.33.0
pandas==2.2.2
numpy==1.24.3
joblib==1.4.2
shap==0.45.0
matplotlib==3.8.4
seaborn==0.13.2
folium==0.16.0
streamlit-folium==0.14.0
tensorflow-cpu==2.17.1
protobuf==4.25.7
ml-dtypes==0.4.1
bcrypt
